{% extends "base.html" %}

{% block conteudo %}
    <h1>Crie sua Conta</h1>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form %}
            <p>
                {{field.label}}
                {{field}}
            </p>
        {% endfor %}
        
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
{% endblock conteudo %}